@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.bg-light{
    background-color:rgba(255, 144, 14, 0.1);
}
.display-flex{
    display: flex;
}
.text-primary{
    color:rgba(255, 144, 14, 1);
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-links{
    text-decoration: none;
    font-weight: 500;
}
.text-gray{
    color: #424242;
}
.text-light-gray{
    color: #727272;
}
.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    padding: 20px 25px;
    border-radius:8px;
    font-size: 1.25rem;
    font-weight: 600px;
    border: none;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main>section{
    margin-top: 130px;
}
.our-features{
    margin-left: 130px;
    max-width: 1440px;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-content{
    max-width:1440px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}
.teams{
    align-items: center;
    margin-top: 85px;
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.feature-title {
    font-size: 2.5rem;
    font-weight: 700
}
#quick-list{
    font-weight: 500;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 60px;
}
.fact-card{
    border: 1px solid rgba(255, 144, 14, 1);
    width: 240px;
    height: 240px;
   
    border-radius: 8px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
/* .fact-card{
     gap: 20px;
} */
.fact-number{
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-description{
    max-width: 1440px;
}
.sponsor-info{
    max-width:1440px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-company{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    align-items: center;
    justify-items: center;
    box-shadow: 4px 4px 10px x-offset;
}
.sponsor-company img{
    width: 100%;
    max-width: 1440px;
    margin-top: 50px;
    margin-left: 30px;

}
.footer-area{
    max-width: 1440px;
    margin-top: 130px;
    padding: 39px 410px 38px 410px;
    background-color: rgba(255, 244, 231, 1);
    text-align: center;
}
.footer-content{
    color:rgba(66, 66, 66, 1);
}
#feature-section-title{
    border-left: 5px solid red;
    padding-left: 21px;
}
.features{
    gap: 20px;
}
.features-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0  rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}
.feature-card, .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
.featured-architect img{
    width: 100%;
}
#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}
#experience-badge{
    margin-top: 20px;
    margin-left: 20px;

}
/* smaller device */
@media screen and (max-width: 576px){
    .navbar, 
    .nav-link,
    .features,
    .featured-architect,
    .teams{
        flex-direction: column;
    }
    .team-image-container, .facts-container{
        grid-template-columns: 1fr;
    }
    .facts-container{
        justify-items: center;
    }
    .sponsor-company{
        grid-template-columns: repeat(2, 1fr);
        gap:50px;
        justify-items: center;
    }
    .our-features{
        margin-left: 20px;
    }
}
/* medium device */
@media screen and (min-width: 576px) and (max-width: 992px){
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin-left: 50px;
    }
    #experience-badge{
    margin-top: 20px;
    margin-left: 20px;
    
}
}